node_modules
**/node_modules
.next
**/.next
.git
.gitignore
.env
.env.*
!.env.example
**/.env
**/.env.*
!**/.env.example
.opencode
*.md
apps/livekit-agent
.venv
**/.venv
__pycache__
**/__pycache__
*.tsbuildinfo
**/*.tsbuildinfo
