LIVEKIT_URL=
LIVEKIT_API_KEY=
LIVEKIT_API_SECRET=
AGENT_NAME=
MINIMAX_API_KEY=

DASHSCOPE_API_KEY=
ELEVEN_API_KEY=
USE_REALTIME=
GOOGLE_API_KEY=
CALLBACK_BASE_URL=
AGENT_CALLBACK_SECRET=
ELEVEN_API_KEY=
